<html>
    <head>
    </head>
    <body>
        <form action="/send_stud_feedback_post" method="post">
            <table>
                <tr>
                    <td>
                        <label for="feedback">Feedback</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea id="feedback" name="feedback" placeholder="Enter your feedback"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Send" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>