<html>
    <head>
    </head>
    <body>
        <form action="/send_stud_complaint_post" method="post">
            <table>
                <tr>
                    <td>
                        <label for="complaint">Complaint</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea id="complaint" name="complaint" placeholder="Enter the complaint"></textarea>
                    </td>
                </tr> <tr>
                    <td>
                        <input type="submit" value="Send">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>