<html>
<head>

</head>
<body>
<table border="2">
    <tr>
        <td>
            <a href="/stud_home">Home</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/stud_profile">View Profile</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/view_stud_subject">My Subject</a>
        </td>
    </tr>>
    <tr>
        <td>
            <a href="/view_stud_classmates">My Classmates</a>
        </td>
    </tr>
        <td>
            <a href="/send_stud_complaint">Send Complaint</a>
        </td>
    </tr><tr>
        <td>
            <a href="/view_stud_complaint_reply">View Complaint Reply</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/send_stud_feedback">Send Feedback</a>
        </td>
    </tr><tr>
        <td>
            <a href="">Change Password</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/logout">Log Out</a>
        </td>
    </tr>
</table>
</body>
</html>