<html>
    <head>

    </head>
    <body>
        <form action="/add_material_post/{{ id }}" method="post" enctype="multipart/form-data">
            <h3> Add Material </h3>
            <table>
                <tr>
            <td>
                <label for="department">Material :</label>
                <input type="file" id="material" name="material" >
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Upload" />
            </td>
        </tr>
            </table>
        </form>
    </body>
</html>