<html>
<head>

</head>
<body>
<table border="2">
    <tr>
        <td>
            <a href="/staff_home">Home</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/staff_profile">View Profile</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/view_my_subject">My Subject</a>
        </td>
    </tr>>
    <tr>
        <td>
            <a href="/view_my_student">My Students</a>
        </td>
    </tr>
        <td>
            <a href="/send_complaint">Send Complaint</a>
        </td>
    </tr><tr>
        <td>
            <a href="/view_complaint_reply">View Complaint Reply</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/send_feedback">Send Feedback</a>
        </td>
    </tr><tr>
        <td>
            <a href="">Change Password</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/logout">Log Out</a>
        </td>
    </tr>
</table>
</body>
</html>