{% extends 'admin/index.html' %}
{% block body %}
<html>
<head>

</head>
<body>
<form action="/add_subject_post/{{ cid }}/{{ did }}" method="post">
     <table>
         <tr>
             <td>
                 <label for="subject" style="margin-left: 520px;font-size: large; font-weight: 900">Subject : </label>
                 <input type="text" name="subject" id="subject" style="width: 250px;height: 40px;border-width: 2px" placeholder="Enter the subject name" />
             </td>
         </tr>
         <tr>
             <td>
                 <input type="submit" class="btn btn-primary shadow" value="Add" style="margin-left: 570px;margin-top: 25px;width: 150px; height: 40px;border-radius: 7px"  />
             </td>
         </tr>
     </table>
</form>
</body>
</html>
{% endblock %}