<html>
<head>

</head>
<body>
<table border="2">
    <tr>
        <td>
            <a href="/admin_home">Home</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/add_department">Add Department</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/view_department">View Department</a>
        </td>
    </tr>>
    <tr>
        <td>
            <a href="/view_course">View Course</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/view_subject">View Subject</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/view_staff">View Staff</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/view_student">View Student</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/view_allocated_user">Allocated Staff</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/view_feedback">View Feedback</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/view_complaint">View Complaint</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/change_password_admin">Change Password</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/logout">Log Out</a>
        </td>
    </tr>
</table>
</body>
</html>