{% extends 'Admin/index.html' %}
{% block body %}
<html>
    <head>

    </head>

    <body>
        <form action="/change_password_admin_post" method="post">
            <table style="margin-left: 470px">
                <tr>
                    <td>
                        <label for="cpasswd" style="font-size: large; font-weight: 900;margin-bottom: 15px">Current Password :</label>
                    </td>
                    <td >
                        <input type="password" id="cpasswd" name="cpasswd" required style="margin-bottom: 15px;width: 230px;height: 40px"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="npasswd" style="font-size: large; font-weight: 900;margin-bottom: 15px">New Password :</label>
                    </td>
                    <td>
                        <input type="password" id="npasswd" name="npasswd" required style="margin-bottom: 15px;width: 230px;height: 40px"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="cfpasswd" style="font-size: large; font-weight: 900;margin-bottom: 15px">Confirm Password :</label>
                    </td>
                    <td>
                        <input type="password" id="cfpasswd" name="cfpasswd" required style="margin-bottom: 15px;width: 230px;height: 40px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Change" class="btn btn-primary shadow" style="width: 180px; height: 40px;border-radius: 7px;margin-top: 25px" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
{% endblock %}