{% extends 'Admin/index.html' %}
{% block body %}
<html>
<head>

</head>

<body>
<form action="">
<table border="1" class="table text-dark">
  <tr style="background-color: #00BFA6;font-size: large;font-weight: 900">
    <th scope="col">#</th>
    <th scope="col">Subject</th>
    <th scope="col">Course</th>
{#    <th scope="col">Department</th>#}
    <th scope="col" >Options </th>
{#    <th scope="col">Reply</th>#}
{#    <th scope="col">Reply Date</th>#}
  </tr>
    {% for i in data %}
  <tr style="font-weight: 500">
    <td>&nbsp;{{loop.index}}</td>
    <td>{{ i.subject_name }}</td>
    <td>{{ i.course_name }}</td>
{#    <td>{{ i.department_name }}</td>#}
    <td><a href="/assign_subject_post/{{ id }}/{{ i.id }}" class="btn btn-primary shadow"> Assign</a> </td>
{#    <td><a href="/delete_subject/{{ i.id }}"> Delete</a> </td>#}
{#    <td><a href="/add_subject/{{ i.id }}/{{ i.dept_id }}"> Add Subject </a> </td>#}
{#    <td>&nbsp;{{ i.c_date }}</td>#}
{#      {% if i.reply == "pending" %}#}
{#      <td colspan="2"><a href="/send_reply/{{ i.comp_id }}#aa" class="btn btn-primary">REPLY</a></td>#}
{#      {% else %}#}
{#    <td>&nbsp;{{ i.reply }}</td>#}
{#    <td>{{ i.r_date }}</td>#}
{#  {% endif %}#}
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}