{% extends 'Admin/index.html' %}
{% block body %}
<html>
<head>
</head>

<body>
<form action="/update_course_post/{{ data.id }}" method="post">
    <table>
        <tr>
            <td>
                <label for="course" style="font-size: large; font-weight: 900;margin-left: 450px">Course :</label>
                <input type="text" id="course" name="course" value="{{ data.course_name }}" style="width: 250px;height: 40px;border-width: 2px" >
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Update" class="btn btn-primary shadow" style="margin-left: 570px;margin-top: 25px;width: 150px; height: 40px;border-radius: 7px"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
{% endblock %}